*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {background:#d9dde4;}
.navbar-brand{
  font-size: 28px;
} 
.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;}
.img{

  background: url(../images/12.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:786px;
  margin-top: -20%;
}
header p {
  background: #fff;
    width: max-content;
    margin: auto;
    padding: 10px 20px;
    font-size: 38px;
    border-radius: 40px;
    color: #f15b64;
    opacity: .7;
}
header p:hover{
  opacity: 1;
}
.square{
  position: relative;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.square span:nth-child(1) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 2px solid #f15b64;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
}
.square:hover span:nth-child(1){
  border: none;
  background-color: #f15b64;
}
.square span:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 2px solid #f15b64;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.square:hover span:nth-child(2){
  border: none;
  background-color: #f15b64;
}
.square span:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 2px solid #f15b64;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
}
.square:hover span:nth-child(3){
  border: none;
  background-color: #f15b64;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(3600deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.content{
  position: relative;
  padding: 40px 60px;
  color: #555;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}
.content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #f15b64;
  padding: 6px 18px;
  text-decoration: none;
  color: #555;
  font-weight: bold;
  border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
  transition: 0.5s;
}
.content a:hover {
  background: #eee;
  color: #576071;
}
.c-2{
  margin-left: 9rem;
}
footer{
  background-color: #343a40;
}